
* {
    box-sizing: border-box;
}  

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.025em;
    color: #828d93;
    font-weight: 600;
    padding-top: 60px;
    margin: 0;
}

p, aside ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.wrapper {
    padding: 0 2.5rem;
    display: flex;
}

h1 {
    text-align: center;
}

h1 a {
    color: #ffffff;
    letter-spacing: 0.35em;
}

h1, h2, h3, nav a, ul a {
    font-weight: 600;
}

h2, h3, footer a {
    color: #44545e;
}

h1, h2, h3, footer a{
    text-transform: uppercase;
}


a { 
    text-decoration: none;
    color: #7b98aa;
}


li {
    margin: 0.75rem 0;
}


/* ===== Header ===== */

.header-nav {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-banner {
    background-image: url('../images/blog_header_bg.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


/* ===== Article ===== */

article {
    padding-right: 2rem;
}

aside {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    max-width: 30%;
}


article img { 
    display: flex;
    justify-content: center;
    /* background-position: center; */
}


aside img {
    /* max-width: 50%; */
    margin: 2em 0;
}

aside ul {
    padding-left: 1rem;
}


/* ===== Footer ===== */

footer {
    background-color: #cdf3f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


footer nav {
    display: flex;
    justify-content: center;    
}

footer nav a {
    margin: 2rem 1rem;
    padding: 0.25rem; 
    font-size: 2em;
}

.social-links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2.5px solid;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form input {
    text-align: center;
    margin: 0 2rem 5rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
}

#contact_email {
    padding: 0.5rem 7.5rem;
    text-transform: none;
}

#contact_submit {
    border: #44545e 2px solid;
    color: #44545e;
    background-color: #cdf3f6;
    padding: 0.5rem 3rem;
    transition: all 0.25s linear;
}

#contact_submit:hover {
    color: #cdf3f6;
    background-color: #44545e;
    cursor: pointer;
}

.social-links-nav  {
    padding: 0.5rem 2.5rem;
}

